################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/OberloScraper/v15
/OberloScraper/.vs/OberloScraper/v15
/OberloScraper/bin/Debug
/OberloScraper/obj/Debug
